<mat-expansion-panel
  class="attack-component"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{attack.name || "NoName"}}
    </mat-panel-title>
    <mat-panel-description *ngIf="!panelOpenState" >
        <button mat-icon-button (click)="onDiceClicked($event)" color="primary">
          <mat-icon>casino</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteClicked($event)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
    </mat-panel-description>

  </mat-expansion-panel-header>
  <mat-action-row>
      <div class="button-row">
        <button mat-icon-button (click)="onDiceClicked($event)" color="primary">
          <mat-icon>casino</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteClicked($event)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
  </mat-action-row>
  <form [formGroup]="attackForm">
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Attack Name</mat-label>
      <input matInput
             placeholder="NoName"
             formControlName="name" />
    </mat-form-field><br>
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Attack Bonus</mat-label>
      <input matInput
             placeholder="+0"
             formControlName="attack" />
    </mat-form-field><br>

    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Damage</mat-label>
      <input matInput
             placeholder="1d4"
             formControlName="damage" />
    </mat-form-field><br>

    <mat-form-field style="width: 48%;" appearance="outline">
      <mat-label>Crit. Threshold</mat-label>
      <input matInput
             class="form-control"
             placeholder="20"
             formControlName="crit_threshold" />
    </mat-form-field>
    <mat-form-field style="width: 48%;" appearance="outline">
      <mat-label>Crit. Multiplier</mat-label>
      <input matInput
             placeholder="2"
             formControlName="crit_multiplier" />
    </mat-form-field><br>
  </form>
</mat-expansion-panel>
