<!-- Toolbar -->
<div>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/combat" >Combat</button>
      <button mat-menu-item routerLink="/skills" >Skills</button>
      <button mat-menu-item routerLink="/dice" >Dice</button>
    </mat-menu>
    <span>DnD Utils</span>
  </mat-toolbar>
</div>

<div class="content" role="main"></div>


<router-outlet></router-outlet>
