.profile-page {
  margin: 1em;
}

.profile-form {
  width: 80%;
}

.profile-content {
  font-family: monospace;
  width: min(60em, 100%);
  height: 25em;
}

.button-add {
  position: fixed;
  right: 1em;
  bottom: 1em;
}
