<div class="profile-page">
  <form class="profile-form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Profile Name</mat-label>
        <input #profileId matInput
          value="{{ this.activeProfile.id }}"
          />
        <button mat-icon matSuffix color="primary" (click)="saveProfile(profileId.value)">
          <mat-icon>save</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="profile-content">
      <mat-label>Content</mat-label>
      <textarea matInput readonly rows=25>{{ this.activeProfile | json }}</textarea>
    </mat-form-field>
  </form>
</div>

<button mat-fab
        class="button-add"
        color="primary"
        [matMenuTriggerFor]="menu">
  <mat-icon>create</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="importProfile()" >Import</button>
  <button mat-menu-item (click)="loadProfile()">Load</button>
  <button mat-menu-item (click)="deleteProfile()">Delete</button>
</mat-menu>
