<h3 mat-dialog-title>Import Profile</h3>

  <mat-dialog-content>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline" class="profile-content">
        <mat-label>Content</mat-label>
        <textarea matInput rows=25 formControlName="content"></textarea>
      </mat-form-field><br>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button
            color="primary"
            (click)="onOkClicked()">
            OK
    </button>
    <button mat-flat-button
            color="warn"
            (click)="onCancelClicked()">
            Cancel
    </button>
  </mat-dialog-actions>

    <div class="error-message" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
